<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Perguntas e Respostas </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--- Viewport --->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS only -->
  <link rel="stylesheet" href="styles/Global.css">
  <link rel="stylesheet" href="styles/Room.css">
  <link rel="stylesheet" href="styles/Modal.css">

  <!---Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
 </head>
   <Body>
     
     <div id="room" class="content">
       <header>
          <a href="#">
            <img src="images/logo.svg" alt="Logo da Plataforma" />
          </a>
            <div class="buttons">
             <div class="button outlined">
              #323243
                 <img src="images/copy.svg">
              </div>
             <a href="" class="button">
                <img src="images/users-white.svg">
              Criar Sala
          </a>
      </div>
          </header>
          
          
          <main>
            <section id="question-form">
              <h2>Faça sua pergunta</h2>
              <form action="">
                <label class="sr-only" form-id="question">O que você quer perguntar?
                </label>
                <textarea id="question" placeholder="O que você quer perguntar?"></textarea>
                <footer>
                  <div>
                    <img src="images/lock.svg" alt="Cadeado">Esta pergunta é anônima
                  </div>
                  <button>Enviar Pergunta</button>
                </footer>
              </form>
            </section>

            <section id="questions">
              <h2 class="sr-only">Perguntas da Comunidade</h2>
              <div class="questions">
                <div class="question-wrapper ">
                  <div class="question-content">
                    <div class="user">
                      <img src="images/user.svg" alt="Foto do usuário"/>
                    </div>
                    <div class="question">
                      <p>Qual a diferença entre const, var e let no JavaScript?</p>
                    </div>
                  </div>
                  <div class="actions">
                    <a href="#" class="check">
                      <img src="/images/check.svg" alt=""> Marcar como lida
                    </a>
                    <a href="#" class="delete">
                      <img src="/images/trash.svg" alt="">Excluir
                    </a>
                  </div>
                </div>
               </div>


               <div class="question-wrapper">
                  <div class="question-content">
                    <div class="user">
                      <img src="images/user.svg" alt="Foto do usuário"/>
                    </div>
                    <div class="question">
                      <p>O que é typescript?</p>
                    </div>
                  </div>
                  <div class="actions">
                    <a href="#" class="check">
                      <img src="/images/check.svg" alt=""> Marcar como lida
                    </a>
                    <a href="#" class="delete">
                      <img src="/images/trash.svg" alt="">Excluir
                    </a>
                  </div>
                </div>


                 <div class="question-wrapper read">
                  <div class="question-content">
                    <div class="user">
                      <img src="images/user.svg" alt="Foto do usuário"/>
                    </div>
                    <div class="question">
                      <p>Qual a diferença entre const, var e let no JavaScript?</p>
                    </div>
                  </div>
                  <div class="actions">
                   

                    <a href="#" class="delete">
                      <img src="/images/trash.svg" alt="">Excluir
                    </a>
                  </div>
                  
                 </div>
                 <div class="question-wrapper ">
                  <div class="question-content">
                    <div class="user">
                      <img src="images/user.svg" alt="Foto do usuário"/>
                    </div>
                    <div class="question">
                      <p>Como você pode aplicar estilos específicos a duas linhas de texto diferentes em um documento HTML usando CSS? Explique como você pode selecionar cada linha individualmente e aplicar propriedades como cor do texto, tamanho da fonte e espaçamento entre linhas.</p>
                    </div>
                  </div>
                  <div class="actions">
                    <a href="#" class="check">
                      <img src="/images/check.svg" alt=""> Marcar como lida
                    </a>
                    <a href="#" class="delete">
                      <img src="/images/trash.svg" alt="">Excluir
                    </a>
                  </div>
                </div>
               </div>

                </div>
                  </div>
               </section>
          </main>
        
          <div class="modal-wrapper ">
            <div class="modal">
              <h2>Excluir Pergunta</h2>
              <p>Tem certeza que deseja mesmo excluir esta pergunta ?</p>

              <form action="#">
                <label class="sr-only" for-id="password">Digite sua senha admin</label>
                <input type="password" id="password" name="password" placeholder="Sua senha" />
                
                <div class="buttons">
                  <div class="button grey">Cancelar</div>
                  <button class="red">Sim, Excluir</button>
                </div>
              </form>
            </div>
          </div>

  </Body>
</html>